.collections {
  padding: 24px;
}

.collections__search {
  border: 5px solid $red;
  color: $red;
  display: flex;
  justify-content: space-between;
  font-size: $m-size-mobile;
  margin: 12px 0 0;
  padding: 16px;
}

.collections__search-input {
  border: none;
  caret-color: $offblack;
  color: $red;
  font-weight: 200;
  outline: none;
}

.collections__search-input::placeholder {
  color: $red;
}

.collections__advanced-search {
  color: $red;
  font-size: $xs-size-mobile;
  margin: 8px 0 32px;
}

.collections__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.collections__element {
  display: inline-block;
  margin: 0;
  padding: 10px;
  width: 50%;
}

.collections__image {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.collections__text {
  color: $red;
  font-size: $xs-size-mobile;
  font-weight: 400;
  margin: 0 0 32px;
}

.collections__no-elements {
  color: $offblack;
  font-size: $l-size-mobile;
  padding: 256px 0 128px;
}
