.header {
  border-bottom: 1px solid $grey;
  display: flex;
  justify-content: space-between;
}

.header > * {
  line-height: $xl-size-mobile;
  margin: 0;
  padding: 16px;
}

.header__logo {
  color: $offblack;
  font-size: $xs-size-mobile;
  font-weight: 300;
  line-height: $xs-size-mobile;
  margin: 0;
  padding: 8px 32px;
}

.header__title {
  color: $red;
  font-size: $m-size-mobile;
  font-weight: bolder;
}

.header__menu-button {
  cursor: pointer;
  font-size: $m-size-mobile;
}
