* {
  box-sizing: border-box;
}

.login {
  background-color: $grey;
  min-height: 100vh;
  left: 0;
  position: absolute;
  margin: 0 auto;
  padding: 128px;
  bottom: 0;
  width: 100vw;
  z-index: 9999;
}

.login > * {
  display: block;
}

.login__header {
  color: $offwhite;
  font-weight: 400;
  margin: 480px 0 0;
}

.login__address {
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 64px 0 0;
}

.login__credentials {
  margin: 64px 0 0;
}

.login__email,
.login__password {
  color: $offblack;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 8px 0 0;
  padding: 32px;
  width: 100%;
}

.login__email::placeholder,
.login__password::placeholder {
  color: $offblack;
}

.login__reset-password {
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 8px 0 0;
  text-align: right;
  text-decoration: none;
}

.login__button {
  background-color: $red;
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 64px 0 0;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.login__create-account {
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 8px 0 0;
  text-decoration: none;
}
