.login {
  background-color: $offblack;
  left: 0;
  margin: 0 auto;
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

.login__bg-image {
  background-position: center;
  background-size: cover;
  filter: blur(10px);
  width: 100vw;
  height: 100vh;
}

.login__panel {
  height: 100%;
  position: absolute;
  padding: 128px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.login__panel > * {
  display: block;
}

.login__header {
  color: $offwhite;
  font-weight: 400;
  margin: 480px 0 0;
}

.login__address {
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 64px 0 0;
}

.login__credentials {
  margin: 64px 0 0;
}

.login__email,
.login__password {
  border: 1px solid $offblack;
  color: $offblack;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 8px 0 0;
  padding: 32px;
  width: 100%;
}

.login__email::placeholder,
.login__password::placeholder {
  color: $offblack;
}

.login__reset-password {
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 8px 0 0;
  text-align: right;
  text-decoration: none;
}

.login__button {
  background-color: $red;
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 64px 0 0;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.login__create-account {
  color: $offwhite;
  font-size: $xs-size-mobile;
  font-weight: 500;
  margin: 8px 0 0;
  text-decoration: none;
}
