.notfound {
  padding: 256px 128px 0;
}

.notfound__header {
  color: $red;
  font-size: $xl-size-mobile;
  font-style: italic;
  margin: 0;
  text-align: center;
}

.notfound__text {
  color: $red;
  font-size: $s-size-mobile;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.notfound__icon {
  color: $brown;
  font-size: $xl-size-mobile;
  margin: 64px 0;
  text-align: center;
}
